.element__like-btn{
    border: 0;
    min-width: 21px;
    max-height: 19px;
    background: url("../../../images/element/like-btn.svg") no-repeat;
    cursor: pointer;
}

.element__like-btn:hover{
    opacity: 0.6;
}
