.popup__save-btn{
    margin: 48px 0 0;
    color: white;
    background-color: black;
    border-radius: 2px;
    width: 100%;
    max-width: 358px;
    max-height: 50px;
    height:100vh;
    cursor: pointer;
    border: none;
    font-size: 18px;
    line-height: 22px;
}

.popup__save-btn:hover{
    opacity: 0.8;
}

@media screen and (max-width: 768px){
    .popup__save-btn{
        font-size: 14px;
        line-height: 17px;
        max-width: 238px;
        max-height: 46px;
    }
}